<div class="main">
  <h1 class="main__header"> Welcome to the <span class="main__header--name">Shopping List</span> app</h1>
  <div class="main__options">
    <h3 class="main__options--description"> Here you can choose what you want to do with the shopping list</h3>
    <div class="main__options__btn-block">
      <div class="main__options__btn-block--view button" routerLink="/view">View list</div>
      <div class="main__options__btn-block--edit button" routerLink="/add">Edit list</div>
    </div>
  </div>
</div>
