.button {
    color: $color-white;
    text-transform: uppercase;
    padding: 1.3rem;
    border-radius: 2rem;
    transition: all .2s;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:focus, &:active {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 1rem 1rem rgba($color-black, .2);
    }
}

.disabled {
    opacity: .6
}

.is-required {
    &::after {
        content: "*";
        display: inline-block;
        padding-left: .5rem;
        color: red;
    }
}